/* GENERAL */

/*
off-black: #12141A
off-white: #E6EBE0
*/


html, body {
	width: auto;
	height: auto;
	font-family: bourbon, serif;
	text-align: center;		
	background-color: #12141A;
	}

h1 {
	letter-spacing: 10px;
	font-size: 45px;
	float: left;
	margin-right: 50px;
	margin-left: 20px;
	color: white;
	}

/* LAYOUT */

.AmbiencePlayerBox {
	display: grid;
	grid-template-columns: 67% 33%;
	grid-template-rows: 10% 45% 45%;
	grid-template-areas: 
		"HeaderBox GlobalMixer"
		"LocalMixerBox LocalMixerBox"
		"LocalMixerBox LocalMixerBox"
}

.HeaderBox {
	grid-area: HeaderBox;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 33% 13% 10% 10%;
	grid-template-areas: "s1 s2 s3 s4";
}

.LocalMixerBox {
	/*border: 2px solid black;*/
	grid-area: LocalMixerBox;
}

.GlobalMixer {
	/*border: 2px solid black;*/
	grid-area: GlobalMixer;
}

.miscFeatures {
	/*border: 2px solid black;*/
	height: 333px;
	grid-area: miscFeatures;
}

/* LOCALMIXER */

.LocalMixerBoxGrid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
	grid-template-areas: 
		"topleft topmid topright"
		"midleft midmid midright"
		"bottomleft bottommid bottomright"
}

.LocalMixerBoxGridItem {
	width: 600px;
	height: 300px;

	display: grid;
	grid-template-columns: 150px 250px 100px 100px;
	grid-template-rows: 270px 30px;
	grid-template-areas:
		"player player player volume"
		"update vID fIn fOut";

	margin: 10px;
	padding: 5px;
	background-color: #181A22;
	border-radius: 7px;
	filter: drop-shadow(0px 0px 5px #080E14);

	transition: .2s;
}

.LocalMixerBoxGridItem:hover {
	transform: scale(1.05);
	filter: drop-shadow(0px 0px 10px #99b7d4);
}

.LocalPlayer {
	grid-area: player;

	margin: 7px;
	border-radius: 7px;
}

/* BUTTONS  */

button {
	width: fit-content;
	height: auto;
	font-family: Arial Black, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;

	color: #E6EBE0;
	margin: auto;
	border-radius: 4px;
	/*background-color: #E6EBE0;*/
	background: transparent;
	border: transparent;

	transition: 0.3s;
}

button:hover {
	transform: scale(0.95);
	background-color: #08090C;
}

.btncontent {
	margin: auto;
}

.addPlayerButton, .removePlayerButton {
	grid-area: s3;
	float: left;

	display: grid;
	justify-items: center;
	grid-template-rows: 30% 70%;
}
.removePlayerButton {
	grid-area: s4;
}

.e55aa42d-b85b-40e2-95ba-52275079081a {
	width: auto;
	height: 100px;
}
.b60aa51c-2c3e-4161-9950-a32939b38f35 {
	width: 100px;
	height: auto;
	margin-top: 40px;
}
.e457aa97-ba7b-42cd-b90c-7f0e2c0d7811 {
	fill:#cb6565;
}
.ffc586fc-c668-4291-8e9b-81430c4ef233 {
	fill: #6ba353;
}

.updateButton, .fadeInButton, .fadeOutButton {
	border: 3px;
}

.updateButton {
	grid-area: update;

	align-content: center;
}

.fadeInButton {
	grid-area: fIn;
}

.fadeOutButton {
	grid-area: fOut;
}

.VideoIDContainer {
	grid-area: vID;
	display: flex;
	justify-content: left;

	width: 300px;
}

.VideoIDInput {
	background: #08090C;
	border: transparent;
	color: #E6EBE0;
	border-radius: 6px;

	transition: 0.3s;
}

.VideoIDInput:hover, .VideoIDInput:focus {
	transform: scale(1.2);
}


.sliderContainer {
	display: flex;
	justify-content: center;
	grid-area: volume;

	margin: 7px;
	background: #2a2e3b;
	border-radius: 7px;
	filter: drop-shadow(0px 0px 5px #080e14);
}

.VolumeSlider {
	writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
	
	margin: auto;
}

/* GLOBALMIXER */

/* MISCFEATURES */
#libraryEmbed {
	width: 600px;
	height:  300px;

	border-radius: 7px;
}