<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
</head>

<!-- CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

<body>
	<img class="bg" src="{{url_for('static', filename='ruslan-safiullin-keca.jpg')}}">

	<h1>Welcome!</h1>
		<p class="welcomeMessage">Here, you can find different Tools to make Dungeons and Dragons experience more immersive!</p>
	<a href="/AmbiencePlayer" class="button">Ambience Player</a>

</body>
</html>